@import './reset.css';
@import './common.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

.header.active {
    top: -80px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    border-bottom: 1px solid #ccc;
    transition: .4s;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6vw;
}

.header .logo {
    background: url(../images/acg-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
}

.header .gnb .nav {
    display: flex;
}

.nav>li {
    padding: 0 26px;
    font-size: 18px;
}

.header .nav-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: .7;
    transition: .3s;
}

.header .nav-title:hover {
    opacity: 1;
}

.header .user-wrap {
    position: relative;
}

.header .user-wrap>ul>li>a {
    display: block;
    padding: 0 10px;
    font-size: 12px;
    line-height: 40px;
}

.header .user-wrap>ul>li>a:hover {
    opacity: .5;
}

.header .user-wrap li {
    display: inline-block;
}

.header .user-wrap li+li::after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 10px;
    background: #999;
    position: absolute;
    top: 15px;
}

.sub-menu {
    padding: 16px 40px 40px;
    white-space: nowrap;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    max-height: 800px;
    top: 79px;
    left: 0;
    right: 0;
    transition: transform .1s ease, opacity 0ms linear .1s, visibility 0ms linear .1s;
    transform-origin: top center;
    transform: scaleY(0);
}

.depth2-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.pre-menu {
    display: inline-block;
    width: 16.666666666666664%;
    padding: 16px 8px 0;
    vertical-align: top;
    text-align: left;
    /* opacity: 0;
    transform: translateY(-10px);
    box-sizing: border-box;
    transition: transform .1s, opacity .1s;
    transition-delay: 0s; */
}

.pre-menu a {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.428571;
    color: #757575;
}


.pre-menu .depth-title {
    display: block;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
}

/* 헤더부분 끝 */

#footer {
    background: #000;
    color: #999;
    margin-top: 100px;
}

#footer .width-wrap {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

#footer .foot-banner {
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 11px 0px 11px 0px;
    width: 100%;
    letter-spacing: 0px;
    border-bottom: 1px solid #444;
}

#footer .foot-banner a {
    margin-left: 10px;
}

#footer .foot-nav {
    display: flex;
    color: #fff;
    font-size: 13px;
    padding: 30px 0;
}

#footer .foot-nav a {
    color: #999
}

#footer .foot-nav dl dt {
    font-size: 13px;
    color: #fff;
    padding-bottom: 0;
}

#footer .foot-nav dl dd {
    margin-top: 8px;
    font-size: 11px;
}

#footer .info {
    width: 25%;
}

#footer .info p {
    margin-bottom: 8px;
    font-size: 13px;
}

#footer .info a {
    color: #fff;
}

#footer .center {
    width: 25%;
}

#footer .about {
    width: 25%;
}

#footer .social {
    width: 25%;
}

#footer .foot-copy {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    font-size: 10px;
    padding: 15px 32px;
}

#footer .copy-left a {
    margin-right: 15px;
    color: #fff;
}

#footer .copy-right a {
    margin-left: 16px;
}

#footer .foot-company {
    padding: 16px 0 25px;
    font-size: 11px;
}

#footer .foot-company a {
    color: #fff;
}

#footer .company-wrap {
    display: flex;
    justify-content: space-between;
}

#footer .company-left {
    width: 50%;
}

#footer .divider {
    position: relative;
    margin-left: 3px;
    padding-left: 6px;
}

#footer .company-left .divider::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 1px;
    height: 10px;
    background: #999;
}

#footer .company-right {
    width: calc(50% - 20px)
}

#footer .insurance-info {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 20px;
}

#footer .ini-icon {
    width: 24px;
    height: 24px;
    display: inline-block;