/* 공용 */
.more-btn {
    display: inline-block;
    padding: 12px 28px;
    background: #000;
    border-radius: 20px;
    margin-top: 20px;
    color: #fff;
}

.more-btn:hover {
    opacity: .8;
}

/* 공용 */

.sc-main {
    position: relative;
}

.sc-main .txt-area {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.sc-main .txt-area h2 {
    font-size: 120px;
    font-weight: bold;
    color: #eb321a;
    font-family: 'Poppins', sans-serif;
}

.sc-main .txt-area span {
    font-size: 24px;
    margin-bottom: 14px;
    display: block;
    color: #fff;
    margin: 30px 0;
}

.sc-main .txt-area p {
    font-size: 22px;
    color: #fff;
    line-height: 1.4;
}

.sc-main .bg-area {
    height: 150vh;
    padding-left: 10vw;
    padding-top: 40vh;
}

.sc-main .bg-area .img-box {
    height: 100%;
    border-top-left-radius: 30vw;
    overflow: hidden;
    filter: grayscale(1);
}

.sc-main .bg-area img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.sc-guide {
    padding: 150px 0;
    text-align: center;
}

.sc-guide .sub-txt h2 {
    font-size: 60px;
    font-weight: 700;
}

.sc-guide .sub-txt p {
    font-size: 22px;
    line-height: 1.5;
    margin-top: 50px;
}

.wide-area {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    box-sizing: border-box;
}

.wide-area .wide-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 50%;
    border-radius: 12vw;
}

.wide-area .wide-wrap .wide-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide-area .wide-wrap .logo-img {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wide-area .wide-wrap .logo-img img {
    width: 500px;
}

.sc-product {
    position: relative;
    margin-top: 70px;
}

.sc-product .pro-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
}

.sc-product .pro-txt .product-title span {
    display: block;
    font-size: 50px;
    font-weight: 600;
    padding: 10px 10px;
    white-space: nowrap;
    text-align: left;
}

.sc-product .pro-txt .product-title span+span {
    text-align: right;
}

.sc-product .prd-list {
    display: flex;
    justify-content: center;
}

.sc-product .prd-item {
    overflow: hidden;
    position: relative;
}

.sc-product .prd-item:first-child {
    margin-right: 50px;
}

.sc-product .prd-item img {
    transition: transform .5s;
}

.sc-product .prd-item img:hover {
    transform: scale(1.1);
}

.sc-product .item-txt {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
}

.sc-product .prd-item p {
    font-size: 18px;
}

.sc-collection {
    padding: 100px 0;
}

.video-wrap video {
    width: 100%;
}

.sc-collection .collection-txt {
    text-align: center;
    margin: 24px 0 50px;
}

.collection-txt .col01 {
    margin-bottom: 10px;
    font-weight: 400;
}

.collection-txt .col02 {
    font-size: 43px;
    margin-bottom: 13px;
    font-weight: 700;
    line-height: 1.1;
}

.collection-txt .col03 {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-weight: 400;
}

.sc-slide {
    height: 100vh;
}

.sc-slide .slide-list {
    display: flex;
    height: 100%;
}

.sc-slide .slide-item {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
}

.sc-slide .slide-list .slide-item img {
    width: 100%;
    height: 100%;
}

.sc-introduction {
    overflow: hidden;
}

.introduction-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.introduction-item01 {
    margin-left: 7vw;
    width: 27%;
    margin-top: 150px;
}

.introduction-item02 {
    margin-right: 7vw;
    width: 25%;
    margin-top: 200px;
}

.introduction-item03 {
    width: 15%;
    text-align: center;
    margin-top: 200px;
}

.introduction-area .txt-wrap {
    margin-top: 50px;
}

.introduction-area .txt-top {
    color: #999;
    font-size: 16px;
    line-height: 1.4;
}

.introduction-area .txt-wrap strong {
    color: #000;
    font-weight: bold;
}