.sc-main {
    position: relative;
}

.sc-main .txt-area {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
}

.sc-main .txt-area h2 {
    opacity: .7;
    font-size: 8em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.sc-main .txt-area span {
    font-size: 1.5em;
    margin-bottom: 14px;
    display: block;
}

.sc-main .bg-area img {
    width: 100%;
}

.sc-main .sub-txt {
    text-align: center;
    padding: 100px 0;
}

.sc-main .sub-txt strong {
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
}

.sc-main .sub-txt p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 16px;
}

.sc-wide .wide-wrap {
    width: 100%;
    height: 100vh;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.sc-wide .wide-wrap img {
    object-fit: cover;
}

.sc-product {
    position: relative;
    margin-top: 70px;
}

.sc-product .pro-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
}

.sc-product .pro-txt .title {
    text-align: left;

}

.sc-product .pro-txt .title+.title {
    text-align: right;
}

.sc-product .pro-img {
    display: flex;
    justify-content: center;
}

.sc-product .pro-item {
    position: relative;
    overflow: hidden;
}

.sc-product .pro-item img:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

.sc-product .pro-item:first-child {
    margin-right: 50px;
}

.sc-product .item-txt {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
}

.sc-product .pro-item p {
    font-size: 18px;
}

.sc-product .pro-item a {
    display: inline-block;
    padding: 12px 28px;
    background: #000;
    border-radius: 20px;
    margin-top: 20px;
}

.sc-product .pro-item a:hover {
    opacity: .8;
}

.collection {
    padding: 100px 100px 50px 100px;
}

.video-wrap {}

.video-wrap video {
    width: 100%;
}

.collection-txt {
    max-width: 1000px;
    margin: 24px auto 50px;
}

.collection-txt .col01 {
    margin-bottom: 5px;
}

.collection-txt .col02 {
    font-size: 43px;
    margin-bottom: 13px;
    font-weight: 700;
    line-height: 1.1;
}

.collection-txt .col03 {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.collection-btn {
    display: inline-block;
    padding: 12px 28px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #111;
    color: #fff;
    transition: .3s;
}

.collection-btn:hover {
    opacity: .8;
}

.slide {
    margin-bottom: 100px;
}

.mySwiper {
    width: 80vw;
    height: 50vw;
}

.sc-introduction {}

.introduction-wrap {
    overflow: hidden;
}

.introduction-area {
    display: flex;
    justify-content: space-between;
}

.introduction-item01 {
    margin-left: 7vw;
    width: 27%;
    margin-top: 150px;
}

.introduction-item02 {
    margin-right: 7vw;
    width: 25%;
    margin-top: 200px;
}

.introduction-item03 {
    width: 15%;
    text-align: center;
    margin-top: 250px;
    z-index: 1;
}

.introduction-wrap .txt-wrap {
    margin-top: 50px;
}

.introduction-wrap .txt-top {
    color: #999;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.introduction-wrap .txt-bot {
    color: #999;
    font-size: 16px;
    line-height: 1.4;
}

.introduction-wrap .txt-wrap .select {
    color: #000;
    font-weight: bold;
}